

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Blog</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/carousel.css">
    <link href="/stylesheets/signin.css" rel="stylesheet">
</head>
<body>

<div class="container">


    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputName" class="sr-only">Username</label>
        <input type="text" id="inputName" class="form-control" name="name" placeholder="Username" required="true" autofocus=""/>


        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="">
        <input type="password" id="inputPassword" class="form-control" name="password-repeat" placeholder="Repeat Password" required="">
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" >
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="注册">Sign in</button>
    </form>




    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 CounterThunder, Inc. · <a href="#">Privacy</a> · <a href="#">Code</a></p>
    </footer>
</div>
</div> <!-- /container -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>


